#news-detail .artikel-container h2,
#news-detail .author {
  font-family: Montserrat-SemiBold, Arial, serif;
  text-align: left !important;
}

#news-detail .share-button a,
#news-detail .share-button img {
  width: 3.2rem;
}

#news-detail .artikel-container small {
  color: #c4c5cd;
}

@media only screen and (min-width: 768px) {
  .artikel-container {
    max-width: 675px !important;
  }
}
