.logo-brand {
  width: 32.28px;
  height: 33.15px;
}

nav {
  min-height: 80px;
}

.search-insert {
  margin-right: 1rem;
}

nav a {
  text-decoration: none;
  color: #1a1a1a;
}

nav a:hover {
  color: #545454;
}
