#int-heroes #jumbotron {
  background-size: cover;
  height: 326px;
  background-position: center;
}

#int-heroes #jumbotron h1 {
  font-family: Montserrat-SemiBold, Arial, serif;
  margin-top: 3.5rem;
}

#int-heroes .form-wrap {
  max-width: 600px;
}

#int-heroes h1 {
  font-family: Montserrat-SemiBold, Arial, serif;
}