#pilar img {
  height: 4rem;
}

#pilar h4,
.card-title {
  font-family: Montserrat-SemiBold, Arial, serif;
}

#history {
  min-height: 419px;
  background-color: #1d2951;
  color: white;
}

.circle-orange {
  height: 44px;
  width: 44px;
  background-color: #f78a28;
  border-radius: 50%;
  margin: auto;
  position: relative;
  z-index: 2 !important;
}

.line {
  position: absolute;
  height: 4px;
  top: 20px;
  background-color: #fdfdfd;
  z-index: 1 !important;
}

.card-slider {
  height: 280px;
}

.btn-slider-next {
  height: 100%;
}

.btn-slider-next:hover {
  background-color: #0000003d;
}

@media only screen and (max-width: 576px) {
  .line {
    width: 0;
  }
}

@media only screen and (max-width: 768px) {
  #desktop-view-histoy {
    display: none;
  }
}

@media only screen and (min-width: 576px) and (max-width: 768px) {
  .line {
    width: 27rem;
    transform: rotate(90deg);
    left: -194px;
    top: 222px;
  }
}

@media only screen and (min-width: 768px) {
  .line {
    width: 25rem;
  }

  #mobile-view-histoy {
    display: none;
  }
}

@media only screen and (min-width: 992px) {
  .line {
    width: 30rem;
  }
}

@media only screen and (min-width: 1200px) {
  .line {
    width: 38rem;
  }
}

@media only screen and (min-width: 1400px) {
  .line {
    width: 42rem;
  }
}
