#news-channel h1,
#news-channel h2,
#news-channel h5 {
  font-family: Montserrat-SemiBold, Arial, serif;
}

#news-channel .kategori-button {
  border-radius: 15px;
}

#news-channel .kategori-link {
  width: inherit;
}

#news-channel a:hover {
  color: #f78a28 !important;
}

#news-channel .dokumentasi {
  background-color: #1d2951;
}