.our-programs h1,
.our-programs h2,
.our-programs h3,
.our-programs h4 {
  font-family: Montserrat-SemiBold, Arial, serif;
}

.our-programs h3 {
  font-size: x-large !important;
}

.our-programs h4 {
  font-size: larger !important;
}

.our-programs p {
  text-align: justify;
}

.our-programs p span {
  font-style: italic;
}

@media only screen and (max-width: 768px) {
  .h3-desktop {
    display: none;
  }
}

@media only screen and (min-width: 768px) {
  .h3-mobile {
    display: none;
  }
}
